{
  "root": true,
  "extends": ["plugin:vue/essential", "@vue/airbnb"],
  "rules": {
    "vue/multi-word-component-names": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
