$font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;

$blue: hsl(200deg 60% 30%);
$green: hsl(120deg 60% 50%);
$itunes: #f25f77;
$spotify: #1ed760;

$small: 24rem;
$medium: 52rem;
$large: 70rem;

@import url('./mixins');
