.success,
.copy {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: transparentize(white, 0.25);
  font-size: 1.5rem;
}

.copy {
  display: none;
  border: 0;
}

.active {
  & + .copy {
    display: none;
  }
}

.artwork {
  position: relative;
  margin-bottom: 0.5rem;
  border: 0.0625rem solid silver;

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  &:hover {
    .copy {
      display: block;
    }

    .active + .copy {
      display: none;
    }
  }
}

.album-title {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
}

.album-date {
  display: block;
  margin: 0 0 0.5rem;
  font-size: 0.875rem;
  opacity: 0.75;
}

.artist {
  margin: 0.5rem 0;
}

.success {
  display: flex;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}
