@import "../styles/variables";

.header {
  margin-bottom: 2rem;
}

.input {
  padding: 0.5rem;
}

.button {
  margin-left: 1rem;
  padding: 0.625rem 1rem;
  background: none;
  background: $blue;
  color: white;
  border: 0;
}
